:root {
	--triangle-width: 100%;
	--triangle-height: 150px;
	--circle1-width: 10px;
	--circle2-width: 100px;
	--circle2-height: 100px;
	--circle3-width: 10px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

section {
	width: 100vw;
	padding: 2% 10%;
}

h2 {
	font-family: 'GenYoMinTW';
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 3px;
}

h3 {
	color: #fff;
	font-size: 56px;
	font-family: 'AGaramondPro';
	font-weight: 400;
}

hr {
	width: 100%;
	border: none;
	height: 1px;
	background-color: #fff;
	opacity: 0.6;
}

.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}

.slick-dots {
	bottom: 50%;
	transform: translateY(50%);
	display: flex !important;
	flex-direction: column;
	right: 20px;
	width: auto;
}

.slick-dots li button::before {
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
	color: transparent;
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	color: transparent;
	background-color: #fff;
}

.first {
	background: #440d70;
	height: 65vh;
	padding-top: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.first-woman {
	object-fit: contain;
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	left: 50%;
	bottom: -45px;
	z-index: 2;
	transform: translateX(-50%);
}

.first::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #440d70 transparent transparent transparent;
}

.first-logo {
	max-width: 60%;
	max-height: 60%;
	object-fit: contain;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.first-title {
	color: #f3b4d2;
	font-size: 16px;
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.first-title small {
	margin: 0 5px;
	font-size: 12px;
	color: #fff;
}

.first-content {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.first-content > span {
	font-size: 48px;
	width: 56px;
	color: #fff;
	line-height: 60px;
}

.first-content-border {
	margin: 15px 5% 0;
	border: 1px solid #f3b4d2;
	overflow: visible;
	position: relative;
	z-index: 2;
	flex-grow: 1;
	height: 100%;
	/* height: calc(100% + var(--triangle-height)); */
}

.first-content-border > span {
	margin-top: 10px;
	font-size: 26px;
	color: #f3b4d2;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-family: 'CenturyGothic';
}

.first-content-border > small {
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-family: 'GenYoMinTW';
	font-weight: 500;
}

.second {
	background: #f3b4d2;
	height: 70vh;
	position: relative;
	color: #440d70;
}

.second h2,
.second h3,
.second hr {
	position: relative;
	z-index: 3;
	transform: translateY(60px);
}

.second-necklace {
	object-fit: contain;
	max-height: 60%;
	max-width: 90%;
	position: absolute;
	right: 0;
	top: 0;
}

.second > span {
	transform: translateY(70px);
	display: inline-flex;
	align-items: center;
}

.second span small {
	background-color: #fff;
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 50%;
	margin: auto 5px;
}

.second-circle {
	border-radius: 50%;
	background-color: #440d70;
	position: absolute;
	text-align: center;
	font-family: 'AGaramondPro';
	font-weight: 400;
	font-size: 20px;
	z-index: 3;
	box-shadow: 0 0 5px #fff, 0 0 25px #fff, 0 0 50px #fff, 0 10px 250px #fff;
}

.second-circle-1 {
	width: 120px;
	height: 120px;
	transform: translateY(-50%);
	line-height: 122px;
	top: 0;
	right: 0;
}

.second-circle-1::after {
	content: '';
	display: inline-block;
	width: var(--circle1-width);
	height: 200px;
	position: absolute;
	top: 0%;
	border: 1px solid #440d70;
	border-color: #440d70 transparent transparent transparent;
	border-radius: 35%/200px 0 0 0;
}

.second-circle-1 > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.second-circle-1 > div::after {
	content: '';
	display: inline-block;
	top: 0;
	left: calc(50% + var(--circle1-width));
	transform: translateY(-50%);
	position: absolute;
	border-radius: 50%;
	background-color: #440d70;
	width: 7px;
	height: 7px;
}

.second-circle-1 > div > span:nth-child(1) {
	color: #f3b4d2;
	line-height: 1.2;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: 'genYoMin';
}

.second-circle-1 > div > span:nth-child(2) {
	color: #fff;
	text-align: center;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	font-family: 'AGaramondPro';
}

.second-circle-2 {
	width: 50px;
	height: 50px;
	color: #fff;
	line-height: 52px;
	top: 50%;
	right: 0;
}

.second-circle-2::after {
	content: '';
	display: inline-block;
	width: var(--circle2-width);
	height: var(--circle2-height);
	position: absolute;
	top: 50%;
	/* transform: translateY(-50%); */
	right: 100%;
	border: 1px solid #440d70;
	border-color: #440d70 transparent transparent #440d70;
	border-radius: 30% 0 0 0;
}

.second-circle-2 > div::after {
	content: '';
	display: inline-block;
	top: calc(var(--circle2-height) + 25px);
	right: calc(100% + var(--circle2-width) - 1.5px);
	transform: translateY(-50%);
	position: absolute;
	border-radius: 50%;
	background-color: #440d70;
	width: 7px;
	height: 7px;
}

.second-circle-3 {
	width: 50px;
	height: 50px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	color: #fff;
	line-height: 52px;
}

.second-circle-3::after {
	content: '';
	display: inline-block;
	width: var(--circle3-width);
	height: 1px;
	background-color: #440d70;
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
}

.second-circle-3 > div::after {
	content: '';
	display: inline-block;
	top: 50%;
	right: calc(100% + var(--circle3-width));
	transform: translateY(-50%);
	position: absolute;
	border-radius: 50%;
	background-color: #440d70;
	width: 7px;
	height: 7px;
}

.third {
	background: #440d70;
	height: 260px;
	color: #f3b4d2;
	position: relative;
}

.third::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #440d70 transparent;
}

.third::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #440d70 transparent transparent transparent;
}

.third p {
	margin: 10px 0;
	font-family: 'genYoMin';
	font-weight: 500;
	font-size: 24px;
	color: #f3b4d2;
}

.third small {
	font-family: 'genYoMin';
	font-weight: 500;
	color: #fff;
	display: inline-block;
}

.fourth {
	padding: 0;
}

.fifth {
	background: #440d70;
	height: 600px;
	color: #f3b4d2;
	position: relative;
}

.fifth::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #440d70 transparent;
}

.fifth::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #440d70 transparent transparent transparent;
}

.fifth-detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.fifth-detail-item {
	display: flex;
	margin: 15px 0;
}

.fifth-detail-item:nth-child(even) {
	align-self: flex-end;
}

.fifth-detail-item-number {
	color: #440d70;
	font-size: 36px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #f3b4d2;
	word-wrap: break-word;
	line-height: 55px;
	text-align: center;
	flex-shrink: 0;
	margin-right: 10px;
	font-family: 'AGaramondPro';
	font-weight: 400;
}

.fifth-detail-item-number small {
	display: block;
	font-size: 14px;
	transform: translateY(-35px);
}

.fifth-detail-item-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	margin-top: 20px;
}

.fifth-detail-item-wrapper span {
	color: #f3b4d2;
	font-weight: bold;
	font-family: 'genYoMin';
	font-size: 18px;
	margin-bottom: 5px;
	display: inline-block;
}

.fifth-detail-item-wrapper small {
	color: #fff;
}

.sixth {
	padding: 0;
}

.seventh {
	background: #f3b4d2;
	height: 300px;
	color: #440d70;
	position: relative;
}

.seventh::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #f3b4d2 transparent;
}

.seventh::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #f3b4d2 transparent transparent transparent;
}

.seventh p {
	margin: 10px 0;
	font-family: 'genYoMin';
	font-weight: 500;
	font-size: 24px;
	color: #440d70;
}

.seventh small {
	font-family: 'genYoMin';
	font-weight: 500;
	color: #440d70;
	display: inline-block;
}

.eighth {
	padding: 0;
}

.ninth {
	background: #440d70;
	height: 300px;
	color: #f3b4d2;
	position: relative;
}

.ninth::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #440d70 transparent;
}

.ninth::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #440d70 transparent transparent transparent;
}

.ninth p {
	margin: 10px 0;
	font-family: 'genYoMin';
	font-weight: 500;
	font-size: 24px;
	color: #f3b4d2;
}

.ninth small {
	font-family: 'genYoMin';
	font-weight: 500;
	color: #fff;

	display: inline-block;
}

.tenth {
	padding: 0;
}

.eleventh {
	background: #f3b4d2;
	height: 620px;
	color: #440d70;
	position: relative;
}

.eleventh::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #f3b4d2 transparent;
}

.eleventh::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	top: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: var(--triangle-height) 0 0 var(--triangle-width);
	border-color: #f3b4d2 transparent transparent transparent;
}

.eleventh-detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.eleventh-detail-item {
	display: flex;
	align-items: center;
	margin: 15px 0;
}

.eleventh-detail-item:nth-child(even) {
	align-self: flex-end;
}

.eleventh-detail-item:nth-child(2) {
	margin-right: 10px;
}

.eleventh-detail-item-number {
	color: #fff;
	font-size: 48px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #440d70;
	line-height: 65px;
	text-align: center;
	flex-shrink: 0;
	margin-right: 10px;
	font-family: 'AGaramondPro';
	font-weight: 400;
}

.eleventh-detail-item-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 220px;
}

.eleventh-detail-item-wrapper span:nth-child(1) {
	color: #fff;
	font-weight: bold;
	font-family: 'genYoMin';
	font-size: 18px;
	margin-bottom: 5px;
	display: inline-block;
}

.eleventh-detail-item-wrapper span:nth-child(2) {
	color: #440d70;
	font-size: 10px;
}

.eleventh-detail-item-wrapper small {
	color: #440d70;
	margin: 0 5px;
	font-weight: 100;
}

.twelfth {
	padding: 0;
}

.thirteenth {
	background: #440d70;
	height: 730px;
	color: #f3b4d2;
	position: relative;
}

.thirteenth::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0;
	border-style: solid;
	z-index: 1;
	border-width: 0 var(--triangle-width) var(--triangle-height) 0;
	border-color: transparent transparent #440d70 transparent;
}

.thirteenth form {
	margin-top: 50px;
}

.thirteenth form label {
	color: #fff;
	font-family: 'GenYoMinTW';
	font-size: 18px;
	font-weight: bold;
}

.thirteenth form label[for='agree'] {
	font-size: 12px;
}

.thirteenth form label span {
	color: #f3b4d2;
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
}

.thirteenth form label a {
	color: #f3b4d2;
	text-decoration: none;
}

.thirteenth form input {
	display: block;
	outline: none;
	border: none;
	border-radius: 10px;
	width: 250px;
	height: 35px;
	margin: 10px 0 35px;
	font-size: 16px;
	padding: 2px 5px;
}

.thirteenth form .demand {
	background-color: transparent;
	border: 1px solid #fff;
	margin-bottom: 15px;
	color: #fff;
}

.thirteenth form input[type='submit'] {
	background-color: #f93575;
	color: #fff;
	font-family: 'genYoMin';
	font-weight: bold;
}

.thirteenth form input[type='checkbox'] {
	display: inline-block;
	width: auto;
	min-width: auto;
	height: auto;
	margin-bottom: 15px;
}

.thirteenth footer {
	margin-top: 120px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 50px;
	justify-content: center;
}

.thirteenth footer span {
	color: #fff;
	font-size: 10px;
}

.thirteenth footer .phone-number {
	color: #fff67f;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 10px;
	position: relative;
}

.thirteenth footer .phone-number::after {
	content: '|';
	position: absolute;
	font-size: 12px;
	color: #ccc;
	top: 50%;
	left: calc(100% + 10px);
	transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
	.first {
		height: 75vh;
	}

	.first-woman {
		max-height: 70%;
	}

	.second {
		height: 120vh;
	}

	.second h2,
	.second h3,
	.second hr {
		transform: translateY(120px);
	}

	.second > span {
		transform: translateY(140px);
		display: inline-flex;
		align-items: center;
	}

	.fifth-detail-item-wrapper,
	.eleventh-detail-item-wrapper {
		max-width: 350px;
	}

	.fourth,
	.sixth,
	.eighth,
	.tenth,
	.twelfth {
		background-size: cover, cover;
		height: 912px;
	}

	.thirteenth form input {
		min-width: 250px;
		width: 100%;
	}
}
